@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');

* {
    font-family: 'Monda', sans-serif;
}
body {
    text-align: center;
}

#mainheading {
    background-color: #293241;
    color: white;
    border-radius:10px;
}

#timer > h1{
    display:  inline-block;
    background-color: rgba(0,0,0,0);
    border:2px dashed #ee6c4d;
    color: white;
    width: 100px;
    border-radius:10px;
}

#timer > h2{
    margin-inline:5px;
    color:#293241;
    display:inline-block;
    font-size:40px;
}

#lastRecord > h1{
    display:  inline-block;
    border:2px solid #ee6c4d;
    color: black;
    margin-inline:10px;
    border-radius:20px;
    width: 100px;
}

#timerControls > button {
    width: 100px;
    height: 50px;
    font-size: larger;
}

#startBtn {
    background-color: lightgreen;
    border-radius: 5px;
    border:none;
    margin-inline:10px;
    font-weight:bold;
}

#pauseBtn {
    background-color: red;
    border-radius: 5px;
    border:none;
    margin-inline:10px;
    font-weight:bold;
}

#resetBtn {
    background-color: white;
    border-radius: 5px;
    border:none;
    margin-inline:10px;
    font-weight:bold;
}

#main {
    padding-bottom:50px;
    background-color:#98c1d9;
    border-radius: 20px;
}